/* 
Basic setup:
------------

- nav bar on top of the screen, and one flex row beneath
- sidebar on left, 30% of the screen
- map on right, 70% of the screen 

*/

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1em;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  min-height: calc(100vh - 65px);
}
#sidebar {
  width: 30%;
  padding: 0px 15px 15px 15px;
}
#map {
  width: 70%;
}
nav {
  background-color: #363636;
  display: flex;
  height: 65px;
  align-items: center;
}

/* NAVBAR LOGOS AND ICONS */
.logo {
  border-right: 1px solid white;
  padding-right: 15px;
}

.pedportal-logo {
  width: 200px;
  margin: 10px;
}
.dvrpc-logo {
  width: 90px;
  height: auto;
  margin: 10px;
}

a > i {
  color: white;
}

/* SIDEBAR BUTTONS AND TEXT */

.analysis-selector {
  text-align: left;
  list-style-type: none;
  padding-left: 2%;
  font-size: 1em;
}

.nav-link.active {
  color: #007bff;
}
.nav-link {
  font-weight: 500;
  color: #333;
  cursor: pointer;
}

.hidden-text {
  display: none;
}
.visible-text {
  display: inline;
}

/* MAP CONTENT */
.legend {
  background-color: #fff;
  border-radius: 3px;
  top: 10px;
  left: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px;
  position: absolute;
  z-index: 1;
  width: 300px;
}

/*
RESPONSIVE CHANGES:
-------------------

- sidebar goes on top, map below
- both take up full screen width
- map becomes half the screen size
- help text appears telling user to scroll down

*/

@media screen and (max-width: 600px) {
  #sidebar {
    width: 90%;
  }

  #map {
    width: 100%;
    flex: 1;
    min-height: calc(100vh - 50vh);
  }
  .flex-container {
    flex-direction: column;
  }
  .legend {
    width: 40%;
    bottom: 10px;
    right: 10px;
    top: auto;
    left: auto;
  }
  .help-text {
    display: block;
  }
  /* .mapboxgl-ctrl-geocoder {
    width: 10%;
  } */
}
