/* 
Basic setup:
------------

- nav bar on top of the screen, and one flex row beneath
- sidebar on left, 30% of the screen
- map on right, 70% of the screen 

*/

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1em;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  min-height: calc(100vh - 65px);
  max-height: calc(100vh - 65px);
  /* overflow: auto; */
}
#sidebar {
  width: 30%;
  overflow: scroll;
  min-height: 100px;
}
.sidebar-padding {
  padding: 0px 15px 15px 15px;
}
#map {
  width: 70%;
  max-height: calc(100vh - 65px);
  z-index: 0;
  /* overflow: hidden; */
}
nav {
  background-color: #363636;
  display: flex;
  height: 65px;
  align-items: center;
}

/* NAVBAR LOGOS AND ICONS */
.logo {
  border-right: 1px solid white;
  padding-right: 15px;
}

.pedportal-logo {
  width: 200px;
  margin: 10px;
}
.dvrpc-logo {
  width: 90px;
  height: auto;
  margin: 10px;
}

a > i {
  color: white;
}

/* SIDEBAR BUTTONS AND TEXT */

.analysis-selector {
  /* text-align: center-justify; */
  list-style-type: none;
  padding-left: 10%;
  font-size: 0.9em;
}
.nav-link.active {
  color: #007bff;
}
.nav-link {
  font-weight: 500;
  color: #333;
  cursor: pointer;
  padding: 2px 0px 2px 0px;
}

.hidden-text {
  display: none;
}
.visible-text {
  display: inline;
}
.lyr-btn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 2%;
  margin-bottom: 2%;
  margin-right: 2px;
}
.button-on {
  color: white;
  background-color: rgb(93, 192, 93);
}
.button-off {
  color: black;
  background-color: rgb(187, 187, 187);
}

/* FOOTER */
footer {
  background-color: gray;
  width: 100%;
  min-height: 100px;
  height: auto;
  font-size: 0.8em;
}
#sidebar-text {
  min-height: calc(100vh - 260px);
}
#footer-logo {
  height: auto;
  width: 90px;
  padding: 10px 0;
}
address {
  font-style: normal;
}
/* MAP CONTENT */
.legend {
  background-color: #fff;
  border-radius: 3px;
  top: 10px;
  left: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px;
  position: absolute;
  z-index: 1;
  width: 300px;
}
.map-popup {
  z-index: 999;
}

/* MODAL BOX */
/* edit the shadow to your preference */
#modal-toggle,
#modal-content,
.mapboxgl-ctrl-geocoder {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
#modal-toggle:hover,
#close-modal:hover {
  cursor: pointer;
}
#modal-toggle {
  /* toggle positioning depending on where your modal-toggle is */
  /* position: absolute; */
  /* z-index: 50; */
  margin: 0;
  top: 100px;
  left: 100px;
  padding: 12px 10px;
  width: auto;
  background: #f7f7f7;
  font-size: 0.8em;
  color: #0074ad;
  text-align: center;
  border-radius: 4px;
}
/* take up the whole screen and grey out whatever isn't in #modal-content */
#modal {
  position: fixed;
  z-index: 3;
  /* display: none; */
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.3);
}
#modal-content {
  position: relative;
  margin: 20vh auto;
  background: #f7f7f7;
  width: 50%;
  padding: 3%;
  border-radius: 4px;
}
#close-modal {
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: 1.5em;
}
.modal-headers,
#modal-content address {
  text-align: center;
}

/*
RESPONSIVE CHANGES:
-------------------

- sidebar goes on top, map below
- both take up full screen width
- map becomes half the screen size
- help text appears telling user to scroll down

*/

@media screen and (max-width: 600px) {
  #sidebar {
    width: auto;
  }
  #map {
    width: 100%;
    flex: 1;
    min-height: calc(100vh - 10vh);
  }
  nav {
    justify-content: center;
  }
  .flex-container {
    flex-direction: column;
    max-height: none;
  }
  .legend {
    width: 40%;
    bottom: 10px;
    right: 10px;
    top: auto;
    left: auto;
  }
  .help-text {
    display: block;
  }
  .mapboxgl-ctrl-geocoder {
    max-width: 5px;
  }
  .logo {
    border-right: 1px solid white;
    padding-right: 10px;
  }

  .pedportal-logo {
    width: 150px;
    margin: 10px;
  }
  .dvrpc-logo {
    width: 67px;
    height: auto;
    margin: 10px;
  }
  #modal-toggle {
    font-size: 0.7em;
  }
  #modal-content {
    margin: 10vh auto;
    background: #f7f7f7;
    width: 70%;
    padding: 3%;
    border-radius: 4px;
    font-size: 0.8em;
  }
  footer {
    display: none;
  }
  #sidebar-text {
    min-height: 0;
  }
}
