body{
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
  }
  nav{
    z-index: 30;
    background: #0074ad;
    height: 6vh;
    border-bottom: 3px solid #f7f7f7;
  }
  #logo{
    max-height: 2em;
    padding-right: 1em;
    margin-right: 0.25em;
    border-right: 2px solid #f7f7f7;
  }
  #header-link{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
  }
  #header-link-text{
    font-size: 1.4rem;
  }
  input[type=search], button{
    font-size: 16px;
  }
  button:hover{
    cursor: pointer;
  }
  .header-footer{
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #map{
    position: relative;
    width: 100%;
    height: calc(91vh - 6px);
  }
  .mapboxgl-popup-content{
    border-radius: 4px;
    font-size: 1.2em;
    text-align: center;
  }
  
  /* consistent shadows for map overlays (override default mapbox) */
  .mapboxgl-ctrl-group, #modal-toggle, #modal-content{
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  }
  #modal-toggle:hover, #close-modal:hover{
    cursor: pointer;
  }
  #modal-toggle{
    position: absolute;
    z-index: 2;
    margin: 0;
    top: 10px;
    left: 10px;
    padding: 12px 10px;
    width: 100px;
    background: #f7f7f7;
    font-size: 1.2em;
    color: #0074ad;
    text-align: center;
    border-radius: 4px;
  }
  #modal{
    position: fixed;
    display: show;
    left: 0%;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    background: rgba(0, 0, 0, 0.3);
  }
  #modal-content{
    position: relative;
    margin: 0 auto;
    background: #f7f7f7;
    width: 50%;
    margin-top: 15%;
    padding: 3%;
    border-radius: 4px;
  }
  address{
    text-align: center;
  }
  #close-modal{
    position: absolute;
    right: 2%;
    top: 2%;
    font-size: 1.5em;
  }
  .modal-headers{
    text-align: center;
  }
  footer{
    border-top: 3px solid #f7f7f7;
    color: #f7f7f7;
    height: 3vh;
    background: #0074ad;
  }