/* Main Webmap Area */
.main-content-wrapper {
  position: relative;
  height: calc(100% - 60px);
  top: 60px;
}
.mapboxgl-map {
  font-size: 15px !important;
  font-family: 'Roboto', sans-serif !important;
  line-height: 1.45 !important;
}
#regional-extent-img {
  display: block;
  margin: 0 auto;
  height: 20px;
  width: 20px;
}
.lds-ring {
  display: none;
  position: relative;
  width: 100px;
  height: 100px;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  z-index: 2;
}
.lds-ring-active {
  display: inline-block;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  margin: 8px;
  border: 8px solid var(--theme-main);
  border-radius: 50%;
  border-color: var(--theme-main) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* END Main Webmap Area */

/* Map */
.map {
  position: relative;
  width: 70%;
  height: 100%;
}
.mapboxgl-popup-content {
  padding: var(--padding-double) var(--padding);
}
.popup-span {
  display: block;
}
.popup-span:not(:last-of-type) {
  border-bottom: 1px dotted var(--theme-black);
}

.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl-geocoder .suggestions,
.mapboxgl-ctrl-group:not(:empty) {
  box-shadow: var(--box-shadow);
}
.mapboxgl-ctrl-geocoder--input {
  cursor: text;
  color: var(--theme-black);
}

.remove-selection {
  position: absolute;
  z-index: 3;
  left: calc(50% + 50px);
  top: 10px;
  display: flex;
  justify-content: space-between;
  width: 150px;
  padding: 10px;
  visibility: hidden;
  background-color: var(--theme-main);
  border: var(--theme-main);
  border-radius: 4px;
  color: var(--theme-white);
}

.remove-selection:hover {
  background-color: var(--color-dvrpc-blue-2);
  cursor: pointer;
}
/* END Map */
